#contact {
    grid-row: 6/7;
    background-color: white;
    display: grid;
    place-items: center;
    overflow: hidden;
    margin-top: -10vh;
}
.contact-heading {
    font-size: 18vw;
    margin-top: 20vh;
    padding-bottom: 15vw;
    font-family: Helvetica-Thin;
    color: white;
    cursor: default;
    opacity: 0;
    padding-top: 20vh;
}

.contact-list {
    color: white;
    list-style: none;
    padding-bottom: 20vh;
    opacity: 0;
}
.contact-element-heading {
    font-size: 8vw;
    cursor: default;
}
.contact-element {
    font-size: 2vw;
    cursor: pointer;
}